---
import Container from "../layouts/Container.astro";

const {
  citation,
  note = "",
  bg = "yellow",
  style = "default",
  ...attr
} = Astro.props;
---

{
  style === "default" ? (
    <Container bg={bg} class:list={[attr.class]}>
      <figure>
        <blockquote class:list={["blockquote", style]}>
          <slot />
          {citation || note ? (
            <figcaption>
              {citation && <cite class="citation">{citation}</cite>}
              {note && <p class="note">{note}</p>}
            </figcaption>
          ) : null}
        </blockquote>
      </figure>
    </Container>
  ) : (
    <figure>
      <blockquote class:list={["blockquote", style]}>
        <slot />
        {citation || note ? (
          <figcaption>
            {citation && <cite class="citation">{citation}</cite>}
            {note && <p class="note">{note}</p>}
          </figcaption>
        ) : null}
      </blockquote>
    </figure>
  )
}

<style>
  .blockquote {
    font-family: var(--font-garamond);
    font-size: clamp(2rem, 6vw, 3rem);
    font-style: italic;
    line-height: 1.25;
    margin: 2rem auto;
    padding: 0;
    text-align: center;
    text-wrap: balance;
  }

  @media (min-width: 90ch) {
    .blockquote {
      text-align: center;
    }
  }

  .blockquote.alternate {
    font-size: clamp(1.5rem, 4vw, 1.75rem);
    text-align: left;
    text-indent: clamp(1rem, 4dvw, 3rem);
  }

  .left-align {
    text-align: left;
  }

  .center-align {
    text-align: center;
  }

  .right-align {
    text-align: right;
  }

  @media (max-width: 120ch) {
    figure {
      margin: 3rem 0 0;
    }
  }

  figcaption {
    font-family: var(--font-garamond);
    display: block;
    margin-top: 1rem;
    font-size: 1.25rem;
  }

  .blockquote.alternate figcaption {
    font-size: 1.25rem;
    color: #444;
    text-align: left;
    text-indent: 0;
    line-height: 1.5rem;
  }

  @media (min-width: 120ch) {
    .blockquote.alternate figcaption {
      text-align: right;
      text-indent: 0;
    }
  }

  .blockquote.alternate .note {
    font-size: 1rem;
  }

  cite:before {
    content: "—";
    margin-inline-end: 0.25rem;
  }
</style>
